<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <h2>Sign up</h2>
      <br>


        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :first_name,
                        required: true , input_html: { class: "input-bar"} %>
            <%= f.input :last_name,
                        required: true, input_html: { class: "input-bar"} %>
            <%= f.input :address,
                        required: true, input_html: { class: "input-bar"} %>
            <%= f.input :email,
                        required: true,  input_html: { class: "input-bar"},
                        autofocus: true ,
                        input_html: { autocomplete: "email" }, input_html: { class: "input-bar"}%>
            <%= f.input :picture %>
            <%= f.input :picture_cache, as: :hidden %>
            <%= f.input :password, input_html: { class: "input-bar"},
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" }, input_html: { class: "input-bar"} %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" }, input_html: { class: "input-bar"} %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: 'btn button-danger button-lg'%>
            <br>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
