<div class="cat-parent">
 <div class="cat-container">
  <h1>
  <a href="" class="typewrite" data-period="2000" data-type='[ "Find Friends Fighters" ]'>
    <span class="wrap"></span>
  </a>
  </h1>

  <div class="container">
   <div class="row">
     <div class="col-xs-12 col-sm-4">

      <div class="dropdown category-handler">
        <p class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Weight
          <span class="caret"></span>
        </p>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <% Friend::WEIGHT.each do |w| %>
          <li class="category"><%= link_to w, friends_path(attr: w, term: 'weight') %></li>
          <% end %>
        </ul>
      </div>

    </div>
    <div class="col-xs-12 col-sm-4">

      <div class="dropdown category-handler">
        <p class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Height
          <span class="caret"></span>
        </p>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <% Friend::HEIGHT.each do |h| %>
          <li class="category"><%= link_to h, friends_path(attr: h, term: 'height') %></li>
          <% end %>
        </ul>
      </div>

    </div>
       <div class="col-xs-12 col-sm-4">

      <div class="dropdown category-handler">
        <p class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Strenght
          <span class="caret"></span>
        </p>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <% Friend::STRENGTH.each do |s| %>
          <li class="category"><%= link_to s, friends_path(attr: s, term: 'strength') %></li>
          <% end %>
        </ul>

    </div>
    </div>
    <br>
    <div class="col-xs-12 col-sm-4">

      <div class="dropdown category-handler">
        <p class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Agility
          <span class="caret"></span>
        </p>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <% Friend::AGILITY.each do |a| %>
          <li class="category"><%= link_to a, friends_path(attr: a, term: 'agility') %></li>
          <% end %>
        </ul>
      </div>

  </div>
  </div>
</div>
</div>
</div>

<%= render '/layouts/card' %>
