<!-- Card footer -->
<div class="card-footer-cart">
  <p class="friend-slogan-cart"> <%= reservation.friend.slogan %></p>
  <p class="friend-price-cart"><%= reservation.friend.price %> $ </p>
  <!-- Display stars -->
  <p class="friend-rating-cart">
    <% reservation.friend.rating.times do %>
      <%= icon('fas', 'star') %>
    <% end %>
    <% (5 - reservation.friend.rating).times do %>
      <%= icon('far', 'star') %>
    <% end %>
  </p>
  <!-- Display stars ends above this line -->
  <p class="friend-slogan-cart">
    Added: <em><%= reservation.updated_at.strftime("%b %e, %l:%M %p") %></em>
    <%= link_to 'Delete from cart', delete_reservation_path(reservation), method: :delete %>
  </p>
</div>
<!-- Card footer ends above this line -->
