<% total_price = 0 %>
<% total_items = 0 %>
<% @reservations.each do |reservation| %>
  <% total_price += reservation.friend.price %>
  <% total_items += 1 %>
<% end %>
<h1>Shopping Cart</h1>

<div class="flex-wrapper-cart">
  <div class="container">
    <!-- cards -->
    <div class="cards-cart">
      <%= render 'card_in_cart' %>
    </div>
    <!-- END cards -->
    <!-- Purchase-bar sticky -->
    <div class="purchase-bar">
      <div class="sticky">
        <h3 id="total">Total: <%= total_price %>$</h3>
        <h4 id="total">Items: <%= total_items %></h4>
        <%= simple_form_for @purchase, url: purchases_path, method: :post do |f| %>
          <%= f.error_notification %>
          <%= f.hidden_field :total_price, value: total_price %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :reservation, value: @reservations%>
          <div id="description-button">
            <%= f.button :submit, 'Buy now', class: 'btn btn-danger btn-lg' %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- END Purchase-bar sticky -->
  </div>
  <!-- END .container -->
</div>
<!-- END .flex-wrapper -->
