<div class="container">
  <div class="cards">
      <div class="row">
        <div class="card">
          <% @friends.each do |friend| %>
            <div class="col-xs-12 col-sm-6 col-md-3" >
              <% if friend.picture.present? %>
                <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path(friend.picture) %>);">
              <% else %>
                <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= friend.picture %>);">
              <% end %>

              <!-- Everything inside the picture -->
              <div class="card-description">
                <%= link_to "", friend_path(friend), class: 'card-link' %>
                <p class="friend-number">ID <%= friend.id %> </p>

                <!-- Icons to add or remove from cart -->
                <div class="card-btn">

                  <!-- Set friend's cart status based on current user -->
                  <% status = 'available' %>
                  <% @reservations.each do |reservation|
                    if reservation.friend_id == friend.id && reservation.user_id == current_user.id
                      status = 'reserved'
                      @reservation = reservation
                    end
                  end %>


                  <!-- Icon to add to cart if not already in cart -->
                  <% if status == 'available' %>
                    <%= simple_form_for @reservation, url: create_reservation_path, method: :post do |f| %>
                      <%= f.error_notification %>
                      <%= f.hidden_field :user, value: current_user.id %>
                      <%= f.hidden_field :friend_id, value: friend.id %>
                      <%= f.button :button, class: 'card-icon' do %>
                        <%= icon('fas', 'cart-plus') %>
                      <% end %>
                    <% end %>

                  <!-- Icon to remove from cart if already in cart -->
                  <% elsif status == 'reserved' %>
                    <%= simple_form_for @reservation, url: reservation_path(@reservation), method: :delete do |f| %>
                      <%= f.error_notification %>
                      <%= f.hidden_field :user, value: current_user.id %>
                      <%= f.hidden_field :friend_id, value: friend.id %>
                      <%= f.button :button, class: 'card-icon' do %>
                        <%= icon('fas', 'user-minus') %>
                      <% end %>
                    <% end %>

                  <!-- Don't show an icon if something weird happens -->
                  <% else %>
                  <% end %>
                </div>
              </div>
            </div>
            <!-- Card footer -->
            <div class="card-footer">
              <p class="friend-slogan"> <%= friend.slogan %></p>
              <p class="friend-price"><%= friend.price %> € per day</p>
              <p class="friend-rating">
                <% friend.rating.times do %>
                  <i class="fas fa-star full"></i>
                <% end %>
                <% (5 - friend.rating).times do %>
                  <i class="far fa-star emtpy"></i>
                <% end %>
              </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
